body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u685 {
  position:absolute;
  left:351px;
  top:10px;
  width:375px;
  height:680px;
}
#u686 {
  position:absolute;
  left:2px;
  top:332px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u687 {
  position:absolute;
  left:351px;
  top:14px;
  width:375px;
  height:18px;
}
#u688 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
}
#u690 {
  position:absolute;
  left:351px;
  top:30px;
  width:375px;
  height:37px;
}
#u691 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u693 {
  position:absolute;
  left:390px;
  top:41px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u694 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u695 {
  position:absolute;
  left:369px;
  top:39px;
  width:14px;
  height:20px;
  color:#FFFFFF;
}
#u696 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u697 {
  position:absolute;
  left:429px;
  top:41px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u699 {
  position:absolute;
  left:691px;
  top:37px;
  width:22px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u701 {
  position:absolute;
  left:366px;
  top:130px;
  width:141px;
  height:16px;
  color:#999999;
}
#u702 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 204, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u703 {
  position:absolute;
  left:366px;
  top:303px;
  width:71px;
  height:25px;
  text-align:center;
}
#u704 {
  position:absolute;
  left:0px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u705 {
  position:absolute;
  left:365px;
  top:110px;
  width:343px;
  height:1px;
}
#u706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u707 {
  position:absolute;
  left:366px;
  top:85px;
  width:85px;
  height:16px;
  color:#999999;
}
#u708 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:2px;
}
#u709 {
  position:absolute;
  left:366px;
  top:282px;
  width:343px;
  height:1px;
}
#u710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u711 {
  position:absolute;
  left:250px;
  top:303px;
  width:79px;
  height:16px;
  color:#999999;
}
#u712 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u713 {
  position:absolute;
  left:367px;
  top:341px;
  width:100px;
  height:100px;
}
#u714 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u715 {
  position:absolute;
  left:488px;
  top:341px;
  width:100px;
  height:100px;
}
#u716 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u717 {
  position:absolute;
  left:610px;
  top:341px;
  width:100px;
  height:100px;
}
#u718 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u719 {
  position:absolute;
  left:351px;
  top:629px;
  width:375px;
  height:61px;
  font-size:16px;
}
#u720 {
  position:absolute;
  left:2px;
  top:21px;
  width:371px;
  word-wrap:break-word;
}
