body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1206 {
  position:absolute;
  left:250px;
  top:10px;
  width:375px;
  height:680px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:332px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:18px;
}
#u1208 {
  position:absolute;
  left:250px;
  top:14px;
  width:375px;
  height:18px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
}
#u1211 {
  position:absolute;
  left:250px;
  top:30px;
  width:375px;
  height:37px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1214 {
  position:absolute;
  left:289px;
  top:41px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u1216 {
  position:absolute;
  left:268px;
  top:39px;
  width:14px;
  height:20px;
  color:#FFFFFF;
}
#u1217 {
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1218 {
  position:absolute;
  left:328px;
  top:41px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1220 {
  position:absolute;
  left:590px;
  top:37px;
  width:22px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u1223 {
  position:absolute;
  left:270px;
  top:96px;
  width:15px;
  height:24px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:307px;
  top:100px;
  width:43px;
  height:16px;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1227 {
  position:absolute;
  left:531px;
  top:100px;
  width:81px;
  height:16px;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:270px;
  top:130px;
  width:306px;
  height:32px;
}
#u1230 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1231 {
  position:absolute;
  left:270px;
  top:181px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1232 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:516px;
  top:181px;
  width:29px;
  height:17px;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1235 {
  position:absolute;
  left:583px;
  top:181px;
  width:29px;
  height:17px;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u1238 {
  position:absolute;
  left:270px;
  top:222px;
  width:15px;
  height:24px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:307px;
  top:226px;
  width:43px;
  height:16px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:531px;
  top:226px;
  width:81px;
  height:16px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1244 {
  position:absolute;
  left:270px;
  top:256px;
  width:306px;
  height:32px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  white-space:nowrap;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1246 {
  position:absolute;
  left:516px;
  top:307px;
  width:29px;
  height:17px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1248 {
  position:absolute;
  left:583px;
  top:307px;
  width:29px;
  height:17px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1250 {
  position:absolute;
  left:389px;
  top:39px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1252 {
  position:absolute;
  left:250px;
  top:639px;
  width:375px;
  height:51px;
  font-size:16px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  word-wrap:break-word;
}
